body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: deepskyblue;
}

* {
    margin:  0;
    padding: 0;

  }

  .container{
    width: 80%;
    padding: 1em;
    text-align: center;
    border:1px solid #ddd;
    margin:0 auto;
  }
  .container h1{
      font-size: 28px;
      margin-bottom: 35px;
  }
